.journal-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.invalid {
	border: 1px solid red;
	background: rgb(172, 67, 67);
}

.input-title {
	border: none;
	background: none;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-family: 'Source Sans 3', sans-serif;
	border-bottom: 1px solid #323232;
}
